// Layout of project

// Container-devices
$container-xl: 1440px;
$container-l: 1216px;
$tablet: 1024px;
$container-m: 960px;
$container-s: 620px;
$container-xs: 340px;
$gutter: 32px;

// Mixin of media-queries
@mixin responsive($device) {


    @if $device ==xl {

        // For resolutions upper 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device ==ul {

        // For resolutions upper 960px
        @media screen and (min-width: $container-m) {
            @content;
        }
    }

    @else if $device ==l {

        // For resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }


    @else if $device ==m {

        // For resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-s) {
            @content;
        }
    }


    @else if $device ==s {

        // For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }


    @else if $device ==xs {

        // For resolutions less than 340px
        @media screen and (max-width: $container-xs) {
            @content;
        }
    }

    @else if $device ==tablet {

        // For resolutions less than 340px
        @media screen and (max-width: $tablet) {
            @content;
        }
    }
}

.header {
 display: flex;
 justify-content: space-between;
 background-color: #778DA9;
 width: 100%;
 height: 8vh;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;


    .logo {
        @include responsive(s) {
            font-size: 1.5rem;
        }
    }


}

.menuButton {
    cursor: pointer;
    transition: .3s ease;
    width: 3vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #0707071a;
    }

    .menuIcon {
        @include responsive(s) {
            font-size: 1.3rem;
        }
    }
}

.drawer {
    height: 8.6vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.content {
    width: 17rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    width: 80%;
    font-size: 0.9rem;
}

.logoutBtnContainer {
 display: flex;
 align-items: center;
 width: auto;
}

.logoutBtn {
    cursor: pointer;
    transition: .3s ease;
    width: 100%;
    height: 100%;
    padding: 1.2rem;

    &:hover {
        background-color: #0707071a;
    }
 
}



